* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: #2b2d42;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.container li {
    list-style-type: none;
}

.container a {
    display: inline-block;
    padding: 25 px;
    margin: 0 25 px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.container a:hover {
    background-color: lightsteelblue;
}

img {
    border: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.item {
    margin: 5px;
}
    